// Default colors
$background: #1a1b26;
$foreground: #c0caf5;

// Normal colors
$black: #15161e;
$red: #f7768e;
$green: #9ece6a;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: #a9b1d6;

// Bright colors
$black-bright: #414868;
$red-bright: #f7768e;
$green-bright: #9ece6a;
$yellow-bright: #e0af68;
$blue-bright: #7aa2f7;
$magenta-bright: #bb9af7;
$cyan-bright: #7dcfff;
$white-bright: #c0caf5;
