@use '../../../themes/tokyo-night-night.scss' as tnn;

.hardware {
  background: tnn.$black;
  color: tnn.$yellow-bright;
  border: 2px solid tnn.$cyan;
  border-radius: 10em;
  padding: 2px 10px;
  margin-left: 5px;
  transition: 0.5s;
}

.cpu {
  padding-right: 5px;
}

.cpu-label {
  color: tnn.$green;
}

.ram-label {
  color: tnn.$blue;
}

.hardware-event:hover > * {
  border: 2px solid tnn.$magenta-bright;
}

circular-progress {
  color: tnn.$white-bright;
  background: tnn.$black-bright;
  margin: 4px;
}
