@use '../../themes/tokyo-night-night.scss' as tnn;
@use './styles/dashboard.scss';
@use './styles/batteryd.scss';
@use './styles/calendard.scss';
@use './styles/power.scss';
@use './styles/weather.scss';
@use './styles/hyprland.scss';
@use './styles/hardware.scss';
@use './styles/battery.scss';
@use './styles/time.scss';
@use './styles/volume.scss';
@use './styles/icon.scss';
@use './styles/wallpaper.scss';

* {
  all: unset;
}

// Main bar

.bar {
  font-size: 12px;
  background: transparent;
  font-family: Fira Code Nerd Font;
}

.left-container {
  margin-left: 5px;
}

.right-container {
  border-radius: 100em;
}
