@use "/home/cody/.cache/wal/colors" as c;
@use "../general" as g;

.bar-container {
	all: unset;
	font-family: Fira Code Nerd Font;
	font-size: 16px;
	background: c.$background;

	.bar-left {
		margin-left: g.$margin;

		.nix-snowflake {
			padding: 16px 0px 16px 30px;
			margin-right: 12px;
			background-size: 32px;
			background-repeat: no-repeat;
			background-position: center;
		}

		.workspaces {
			.workspaces-container {
				.workspace-id {
				  padding-right: g.$spacing;

					&.occupied {
						.circle-outer {
							border: 2px solid c.$color11;
						}
					}

					&.empty {
						.circle-outer {
							border: 2px solid #222222;
						}
					}

					&.current {
						.circle-outer {
							border: 2px solid #ffffff;
						}
					}

					.circle-outer {
						border-radius: 100px;
						padding: 4px;
						margin: 12px 2px;

						.circle-inner {
				      background: c.$color8;
						  border-radius: 100px;
						  padding: 8px;
						}
					}
				}
			}
		}
	}

	.bar-center {
		.datetime {
			color: c.$color8;
		}
	}

	.bar-right {
		margin-right: g.$margin;

		.brightness {
			color: c.$color8;
			padding-right: 16px;

			scale {
			  min-width: 64px;
			  min-height: 5px;
			}

			.brightness-icon {
			  font-size: 24px;
			}

			trough {
				// background: c.$color8;
				background: #ffffff;
				border: none;
				border-radius: 20px;
				min-height: 4px;
			}

			slider {
				// background-color: transparent;
				background-image: none;
				box-shadow: none;
				text-shadow: none;
			}

			highlight {
				background: c.$color11;
			}
		}

		.volume {
			color: c.$color8;
			padding-right: 8px;

			.volume-icon {
			  font-size: 24px;
			}

			scale {
				all: unset;
			  min-width: 64px;
			  min-height: 5px;
			}

			trough {
				background: #ffffff;
				border: none;
				border-radius: 20px;
				min-height: 4px;
			}

			slider {
				background-image: none;
				box-shadow: none;
				text-shadow: none;
			}

			highlight {
				background: c.$color11;
			}
		}
		
		.systray {
			font-size: 24px;
		  border: 2px solid c.$color0;

			& > * {
				padding: 8px;
				margin-right: 8px;
			}

			button {
				color: c.$color8;
				background: inherit;
				border: none;
				box-shadow: none;
				text-shadow: none;
			}
		}

		.battery {
			font-size: 24px;
			color: c.$color8;
			margin-left: 8px;

			&.low {
				color: #ff0000;
			}

			&.charging {
				color: #00ff00;
			}
		}
	}
}
